* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__link {
  text-decoration: none;
}

.card__container-img {
  max-width: 100%;
}

.card__image {
  height: 300px;
  object-fit: cover;
}
